{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <!-- Header Banner -->
    <div class="banner-header valign bg-img bg-fixed" data-overlay-dark="6" data-background="/static/img/slider/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center caption mt-60">
                    <h5>Gallery & Video</h5>
                    <h1>Our Portfolio</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Gallery -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head text-center">
                        <div class="section-subtitle">Portfolio</div>
                        <div class="section-title">Image Gallery</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 3 columns -->
                <div class="col-md-4 gallery-item">
                    <a href="/static/img/slider/kc_customer_main2.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/kc_customer_main2.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="/static/img/slider/man_bun_main2.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/man_bun_main2.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="/static/img/slider/trenzas_main.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/trenzas_main.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <!-- 2 columns -->
                <div class="col-md-6 gallery-item">
                    <a href="/static/img/slider/trigueno_guy_main.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/trigueno_guy_main.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 gallery-item">
                    <a href="/static/img/slider/white_hair_main.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/white_hair_main.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <!-- 3 columns -->
                <div class="col-md-4 gallery-item">
                    <a href="/static/img/slider/joel_kamji_main.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/joel_kamji_main.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="/static/img/slider/joel_katiria_main.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/joel_katiria_main.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="/static/img/slider/kamji_katiria_main.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="/static/img/slider/kamji_katiria_main.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Gallery -->
    <!-- <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head text-center">
                        <div class="section-subtitle">Portfolio</div>
                        <div class="section-title">Video Gallery</div>
                    </div>
                </div>
            </div>
            <div class="row"> -->
                <!-- 2 columns -->
                <!-- <div class="col-md-6">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="/static/img/slider/8.jpg" alt="">
                            <a class="video-gallery-button vid" href="https://youtu.be/e2x0UXVU2yg"> <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="/static/img/slider/9.jpg" alt="Vimeo">
                            <a class="video-gallery-button vid" href="https://youtu.be/e2x0UXVU2yg"> <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span> </a>
                        </div>
                    </div>
                </div> -->
                <!-- 3 columns -->
                <!-- <div class="col-md-4">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="/static/img/slider/11.jpg" alt="YouTube">
                            <a class="video-gallery-button vid" href="https://youtu.be/e2x0UXVU2yg"> <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="/static/img/slider/13.jpg" alt="YouTube">
                            <a class="video-gallery-button vid" href="https://youtu.be/e2x0UXVU2yg"> <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="/static/img/slider/16.jpg" alt="YouTube">
                            <a class="video-gallery-button vid" href="https://youtu.be/e2x0UXVU2yg"> <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    {% endblock %}